/* work sans font form google font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,700&family=Work+Sans:wght@400;600;700;800&display=swap');
/* shared style */
* {
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}
.color-gray {
    color: #727272;
}
.btn-primary {
    border-radius: 8px;
    padding: 20px 25px;
    background: #FF900E;
    color: #fff;
    font-size: 1.25rem;
    border: none;
    margin: 10px 0px 30px 0;
    cursor: pointer;
}
/* nav section */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;           
}   
nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
}
.nav-tittle {
    font-size: 3rem;
    color: #131313;
}
/* banner style start */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-tittle {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    text-transform: capitalize;
}
.banner img {
    width: 100%;
}
/* main section start */
main {
    max-width: 1440px;
    margin: 0 auto;
}
/* teams style */
.teams-container {
    display: flex;
    align-items: center;
}
.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content {
    padding: 0 70px;
}
.teams-tittle {
    font-size: 2.8rem;
}
.teams-tittle .quick {
    font-weight: 500;
}
.teams-tittle .our {
    color: #131313;
    font-weight: 700;
}
.teams-tittle .features {
    color: #FF900E;
    font-weight: 700;
}




/* responsive media screeen */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav,
    .teams-container  {
        flex-direction: column;
    }
    .teams-img-container {
        grid-template-columns: 1fr;
    }
    .teams-content {
        padding: 10px;
    }
     

    
    
}

/* tablet or media devices */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
    }

    
}